/common/target/
/caracal-client/api/target/
/caracal-client/core/target/
/core/core-api/target/
/core/core-impl/target/
/system/target/
/simulation/target/
/manager/target/
/network/target/

/core/core-impl/src/test/resources/library2/status.file

/simulator/target/
/simulator/simulation*
/system/simulation*
/hops/network/target/
/hops/core/target/
/hops/api/target/
/hops/mysql/target/

.DS_Store
/core/core-impl/src/test/resources
/manager/src/test/resources/
/storage/api/target/
/storage/impl/api/target/
/storage/core/target/
/storage/impl/core/target/
/storage/example/target/
/storage/example/src/main/resources/example/logs/
/storage/impl/target/
/storage/network/target/

/storage/example/lib/bin/lib/x86_64-MacOSX-gpp/jni/libbarchart-udt-core-2.3.0-SNAPSHOT.jnilib
