/common/target/
/caracal-client/api/target/
/caracal-client/core/target/
/core/core-api/target/
/core/core-impl/target/
/system/target/
/simulation/target/
/manager/target/
/network/target/

/simulator/target/
/simulator/simulation*
/system/simulation*
/hops/network/target/
/hops/core/target/
/hops/api/target/
/hops/mysql/target/

.DS_Store
/core/core-impl/src/test/resources
/manager/src/test/resources/
/core/core-impl/src/test/resources/dmTest/
/core/core-impl/src/test/resources/libraryTest/
