<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="DELA_HOME" value="./src/main/resources" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{1} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="CONSOLE_NID" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{1}&lt;nid:%X{nid}&gt; - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="se.sics.kompics.timer.java.JavaTimer" level="WARN" additivity="false"><appender-ref ref="CONSOLE"/></logger>

  <root level="trace"> <appender-ref ref="CONSOLE" /> </root>

</configuration>